/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
::-webkit-scrollbar-track {
  background:#030303;
  }

 Handle 
::-webkit-scrollbar-thumb {
  background: rgba(4, 49, 175, 0.74); 
  border-radius: 5px;
}
 Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background: rgba(10, 68, 226, 0.74);; 
} */